.box{
    padding-top: 100px;
}
.content{
    margin: 0 auto;
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: #FFFFFF;
    border: 1px solid #aaa;
    animation: Rotate 6s linear infinite;
}
.left{
    position: absolute;
    width: 50%;
    top: 0;
    left:0;
    height: 100%;
    background-color: #000000;
    border-radius: 100% 0 0 100% / 50% 0 0 50%;
}
.right{
    position: absolute;
    width: 50%;
    top: 0;
    right: 0;;
    height: 100%;
    background-color: #FFFFFF;
    border-radius: 0 100% 100% 0 / 0 50% 50% 0;
}
.inner-circle{
    position: absolute;
    width: 50%;
    height: 50%;
    left: 25%;
    border-radius:50% ;
}
.up{
    top: 0;
    background-color: #000000;
}
.down{
    bottom: 0;
    background-color: #FFFFFF;
}
.sm-circle{
    position: absolute;
    width: 25%;
    height: 25%;
    top: 37.5%;
    left: 37.5%;
    border-radius: 50%;
}
.circle-white{
    background-color: #FFFFFF;
}
.circle-black{
    background-color: #000;
}

@keyframes Rotate {
    0%{
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.copyright{
    margin-top: 40px;
    color: #545454;
    text-align: center;
}
.copyright .link{
    color: #337ab7;
    text-decoration: none;
}
.copyright .link:hover{
    color: #23527c;
}