body{
    margin:0;
    padding: 0;
}
.header{
    width: 100%;
    height: 34px;
    background-color: #210002;
    position: absolute;
    top: 0;
    z-index: 1000;
}
.main{
    width: 100%;
    height: 1000px;
    position: relative;
    background-color: #210002;
}
.banner{
    z-index: 10;
    position: relative;
    display: block;
    height: 1000px;

}
.banner .layer{
    background-position: bottom center;
    background-size: auto 1038px;
    background-repeat: repeat-x;
    width: 100%;
    height: 1000px;
    position: absolute;
}
.banner .layer.fixed{
    position: fixed;
}

#layer0{
    background-image: url('../images/parallax0.png');
}
#layer1{
    background-image: url('../images/parallax1.png');
}
#layer2{
    background-image: url('../images/parallax2.png');
}
#layer3{
    background-image: url('../images/parallax3.png');
}
#layer4{
    background-image: url('../images/parallax4.png');
}
#layer5{
    background-image: url('../images/parallax5.png');
}
#layer6{
    background-image: url('../images/parallax6.png');
}
#layer7{
    background-image: url('../images/parallax7.png');
}
#layer8{
    background-image: url('../images/parallax8.png');
}

.content{
    width: 100%;
    min-height: 1300px;
    background-color:#210002 ;
    z-index: 99;
    position: relative;
}
.content .content-inner{
    width: 1000px;
    margin: 0 auto;
}
.line-list-4{
    padding: 20px 0;
    box-sizing: border-box;
    margin: 0;
    color: #ffaf00;
}
.line-list-4:after{
    display: table;
    content: ' ';
    clear: both;
}
.line-list-4 .item{
    display: inline-block;
    position: relative;
}
.line-list-4 .item-link{
    width: 234px;
    height: 234px;
    color: transparent;
    text-indent: -9999px;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 42px;
    -webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
}
.line-list-4 .item-link:hover{
    text-decoration: none;
    color: #FFFFFF;
}
.line-list-4 .item#app_coda>a {
    background-image: url(../images/icon-coda25.png);
    -webkit-background-size: 197px 192px;
    background-size: 197px 192px;
}
.line-list-4 .item:hover{
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
}

.copyright{
    margin-top: 20px;
    color: #545454;
}
.copyright .link{
    color: #337ab7;
    text-decoration: none;
}
.copyright .link:hover{
    color: #23527c;
}

@font-face {
    font-family: "KulminoituvaRegular";
    src: url(../font/kulminoituva.woff) format("woff");
}
@font-face {
    font-family: "NotethisRegular";
    src: url(../font/Note_this.woff) format("woff");
}

body{
    background-color: #202020;
    color: #202020;
    font-size: 125%;
    font-family: NotethisRegular, Verdana, Arial, sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-family: KulminoituvaRegular, "Arial Black", Gadget, sans-serif;
    font-size: 1.5em;
}
.wrapper{
    width: 960px;
    margin: 210px auto 0;
}
.wrapper:after{
    content: '';
    display: block;
    clear: both;
}
ul#index-cards{
    margin-top: 70px;
}
ul#index-cards li{
    background: url(../images/img_card_bg.jpg) repeat;
    height: 450px;
    width: 130px;
    display: block;
    float: left;
    border: 1px solid #666;
    padding: 25px 10px;
    margin-bottom: 75px;
    position: relative;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow:2px 2px 10px #000 ;
    -moz-box-shadow: 2px 2px 10px #000;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
}

ul#index-cards li img{
    width: 130px;
    height: 130px;
    background-color: #eeeeee;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 5px #aaa;
    -moz-box-shadow: 0 0 5px #aaa;
    margin-top: 7px;
}
ul#index-cards li p{
    margin-top: 5px;
    text-align: left;
    line-height: 28px;
}

#card-1{
    -webkit-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    z-index: 1;
    left: 160px;
    top: 20px;
}
#card-2{
    -webkit-transform: rotate(-8deg);
    -ms-transform: rotate(-8deg);
    z-index: 2;
    left: 80px;
    top: 5px;
}
#card-3{
    z-index: 3;
}
#card-4{
    -webkit-transform: rotate(8deg);
    -ms-transform: rotate(8deg);
    z-index: 2;
    left: -80px;
    top: 5px;
}
#card-5{
    -webkit-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    z-index: 1;
    left: -160px;
    top: 20px;
}
/* Hover States */

ul#index-cards li:hover {
    z-index:4;
}

#card-1:hover {
    -moz-transform: scale(1.1) rotate(-18deg);
    -webkit-transform: scale(1.1) rotate(-18deg);

}

#card-2:hover {
    -moz-transform: scale(1.1) rotate(-8deg);
    -webkit-transform: scale(1.1) rotate(-8deg);
}

#card-3:hover {
    -moz-transform: scale(1.1) rotate(2deg);
    -webkit-transform: scale(1.1) rotate(2deg);
}

#card-4:hover {
    -moz-transform: scale(1.1) rotate(12deg);
    -webkit-transform: scale(1.1) rotate(12deg);
}

#card-5:hover {
    -moz-transform: scale(1.1) rotate(22deg);
    -webkit-transform: scale(1.1) rotate(22deg);
}
